header {
  width: 100vw;
  min-height: 50vh;
  color: white;
}
header .home-cont {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
nav {
  width: 80%;
  margin: auto auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.guruji-img {
  width: 120px;
}
.link a {
  margin-right: 4rem;
  font-size: 2rem;
  font-weight: 500;
}
#home-link {
  color: #fd9d54;
}

header .home-cont .heading h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem 0rem;
}
header .home-cont .some-desc {
  text-align: center;
  font-size: 1.5rem;
}
header .home-cont .consult {
  text-align: center;
  margin: 5rem 0px;
}
header .home-cont .consult button {
  padding: 1rem 2rem;
  background-color: #fd9d54;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

header .home-cont .services-icon-g {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px;
}
header .home-cont .services-icon-g .icon-g {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 10%;
  min-height: 10%;
}
header .home-cont .dot {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-drawer {
  display: none;
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 55%;
  }
  header nav {
    width: 90%;
  }
  header .home-cont .services-icon-g .icon-g {
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
  }
    header .home-cont .services-icon-g .icon-g img{
      max-width:50px;
      max-height:50px;
    }
  .drawer {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
.drawer-link{
    position: absolute;
    top: 0;
}
.drawer-link a{
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
@media screen and (max-width: 820px) {
  .mobile-drawer {
    display: block;
  }
  header nav a {
    display: none;
  }
  header .home-cont .heading h1 {
    font-size: 3rem;
  }
}
